<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t]: %m%n"/>
        </Console>

        <!-- Add a file appender so Root's FILE reference resolves -->
        <File name="FILE" fileName="C:\Users\hbiyani\OneDrive - Stony Brook University\Documents\DEV\linear-pbft\logs\server.log" createOnDemand="true">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t]: %m%n"/>
        </File>

        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:dynamic_log}">
                <Route>
                    <File name="FileAppender-${ctx:dynamic_log}" fileName="C:/Users/hbiyani/OneDrive - Stony Brook University/Documents/DEV/stable-paxos/logs/server/server-${ctx:dynamic_log}.log">
                        <PatternLayout pattern="%d{ISO8601} %-5p [%t]: %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>

    </Appenders>

    <Loggers>
        <Logger name="org.example" level="INFO"/>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>